@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic|Merriweather:400,700);
/*
 * Setup
 */
/*
 * Settings
 */
/* 
 * Mixins // Credit to Harry Roberts & inuit.css for these simple Mixins
 *
 * Font size
 */
/*
 * Vendor
 */
/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/*
 *  Corrects `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 *  Corrects `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 *  Prevents modern browsers from displaying `audio` without controls.
 *  Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 
 * Base
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

abbr[title], dfn[title] {
  cursor: help; }

a, u, ins {
  text-decoration: none; }

ins {
  border-bottom: 1px solid; }

object, img {
  font-style: italic;
  vertical-align: middle;
  max-width: 100%; }

label,
input,
textarea,
button,
select,
option {
  cursor: pointer; }

.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none; }

/*
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf, .page-foot {
  zoom: 1; }
  .cf:before, .page-foot:before, .cf:after, .page-foot:after {
    content: " ";
    display: table; }
  .cf:after, .page-foot:after {
    clear: both; }

/* 
 * Breakpoints
 */
/*
 * Baseline
 */
html {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.53333;
  color: #333333;
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }

html, body {
  height: 100%; }

.wrapper {
  max-width: 1000px;
  min-height: 100%;
  padding: 1em;
  margin: 0 auto; }

canvas {
  -ms-touch-action: double-tap-zoom; }

a {
  color: #666; }
  a:hover {
    text-decoration: underline; }

.selected {
  text-decoration: none;
  color: #999; }

/*
 * Header
 */
.page-head {
  position: relative;
  max-width: 650px;
  margin: 0 auto; }
  .page-head p {
    font-size: 13px;
    font-size: 0.86667rem;
    line-height: 1.76923;
    line-height: 1.6em;
    color: #999;
    display: block;
    margin: .5em 0 1em 0;
    padding: 0; }

.page-head .ident {
  font-size: 25px;
  font-size: 1.66667rem;
  line-height: 1.84;
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  color: #333333;
  display: inline-block;
  margin-bottom: 0em;
  text-decoration: none; }

.page-head nav a {
  display: inline-block;
  margin: 0 .5em 0 0; }

.twitter {
  display: inline-block;
  position: absolute;
  left: auto;
  right: 1em;
  top: .8em; }
  .twitter:hover {
    color: #00ABF0; }
    .twitter:hover .icon {
      fill: #00ABF0; }

/*
 * Content
 */
.content {
  padding: 0;
  max-width: 650px;
  margin: 0 auto; }
  .content a {
    color: #46b0db; }

article {
  margin-top: 2em; }
  article hr {
    background-color: #e9e9e9;
    border-width: 0;
    color: #e9e9e9;
    height: 1px;
    line-height: 0;
    page-break-after: always;
    text-align: center;
    width: 100%;
    margin: 2em auto 0 auto; }

article:last-of-type hr {
  display: none; }

p {
  font-size: 13px;
  font-size: 0.86667rem;
  line-height: 1.76923;
  line-height: 1.6em;
  margin-top: 1em; }
  p em {
    border-bottom: 1px solid #ccc;
    display: inline-block; }

ul, ol {
  display: block;
  margin: 2em 0;
  padding-left: 1em; }
  ul li, ol li {
    font-size: 13px;
    font-size: 0.86667rem;
    line-height: 1.76923;
    line-height: 1.6em; }

blockquote {
  border-left: 3px solid #ccc;
  padding: 0 0 0 1em;
  margin: 1.5em 0;
  color: #999; }

.content .more {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  font-size: 1rem;
  line-height: 1.53333;
  line-height: 2.5em;
  color: #fff;
  text-decoration: none;
  padding: 0 .8em;
  background-color: #46b0db;
  display: table;
  margin: 2em auto 0 auto;
  width: 80%;
  text-align: center; }
  .content .more:hover {
    background-color: #999;
    text-decoration: none; }

.paging {
  margin-top: 4em;
  text-align: center; }
  .paging span {
    font-style: italic; }
  .paging .next {
    display: inline-block;
    margin-left: 1em; }
  .paging .previous {
    display: inline-block;
    margin-right: 1em; }

.paging .more {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 1.27778;
  line-height: 2.8em;
  text-decoration: none;
  padding: 0 2em;
  margin: 0 auto;
  display: block;
  text-shadow: none;
  font-style: italic;
  background-color: transparent;
  border: 1px dotted #e9e9e9;
  color: #999; }
  .paging .more:hover {
    background-color: transparent;
    border: 1px dotted #46b0db;
    color: #46b0db;
    text-decoration: none; }

.content h2, h1 {
  font-size: 20px;
  font-size: 1.33333rem;
  line-height: 1.15;
  font-family: "Merriweather", sans-serif; }
  .content h2 a, h1 a {
    color: #333333; }

h3 {
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 1.27778;
  font-family: "Merriweather", sans-serif;
  margin-top: 2em; }

.date {
  margin: 0 0 1em 0;
  font-size: 12px;
  font-size: 0.8rem;
  line-height: 1.91667; }
  .date span {
    color: #999;
    font-style: italic;
    border-bottom: 1px solid #e9e9e9; }

pre {
  font-size: 15px;
  font-size: 1rem;
  line-height: 1.53333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-family: monospace;
  background-color: #fff;
  border: 1px dotted #e9e9e9;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 4em; }

/*
 * Footer
 */
.page-foot {
  font-size: 13px;
  font-size: 0.86667rem;
  line-height: 1.76923;
  max-width: 650px;
  margin: 5em auto 0 auto;
  padding-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid #e9e9e9;
  text-align: center; }
  .page-foot > span {
    float: none;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 1em 0 0 0; }
  .page-foot > a {
    float: none;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0 .5em; }
    .page-foot > a span {
      text-decoration: underline; }
    .page-foot > a:hover span {
      text-decoration: none; }

/*
 * SVG Icons
 */
.twitter-txt {
  display: none; }

.no-svg .twitter-txt {
  display: block; }

/* 
 * Disqus
 */
#disqus_thread {
  border-top: 1px solid #e9e9e9;
  padding-top: 3em;
  margin-top: 5em; }
